<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.teknikalid.articles-lunch</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/curl</string>
        <string>-sf</string>
        <string>--max-time</string>
        <string>600</string>
        <string>-X</string>
        <string>POST</string>
        <string>-H</string>
        <string>Authorization: Bearer FZlv5mT6Sgz7mRPJI4nKMG2ITm3UCTN</string>
        <string>http://localhost:3000/api/cron/generate-articles?count=5</string>
    </array>
    <key>StartCalendarInterval</key>
    <array>
        <dict><key>Weekday</key><integer>1</integer><key>Hour</key><integer>12</integer><key>Minute</key><integer>30</integer></dict>
        <dict><key>Weekday</key><integer>2</integer><key>Hour</key><integer>12</integer><key>Minute</key><integer>30</integer></dict>
        <dict><key>Weekday</key><integer>3</integer><key>Hour</key><integer>12</integer><key>Minute</key><integer>30</integer></dict>
        <dict><key>Weekday</key><integer>4</integer><key>Hour</key><integer>12</integer><key>Minute</key><integer>30</integer></dict>
        <dict><key>Weekday</key><integer>5</integer><key>Hour</key><integer>12</integer><key>Minute</key><integer>30</integer></dict>
    </array>
    <key>ExitTimeOut</key>
    <integer>600</integer>
    <key>StandardOutPath</key>
    <string>/Users/nicholasandriansurjadi/Documents/teknikalidnew/logs/articles-lunch.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/nicholasandriansurjadi/Documents/teknikalidnew/logs/articles-lunch.log</string>
</dict>
</plist>
